<script setup>
import { onMounted, onRenderTriggered } from "vue"
const props = defineProps({
    product: null,
    index: Number,
})
</script>

<template>
    <div class="productblock" :id="props.index">
        <div class="productblock__image" >
            <img :src="product?.images[0]?.path + product.images[0].file" v-if="product.images[0]" class="" />
        </div>
        
        <div class="productblock__descriptionblock">
            <p>{{ product.product_description }}</p>
            <p class="focused">{{ product.product_name }}</p>
            <p v-if="product.price_with_discount && product.price_with_discount > 0" class="discount" >$ {{ product.price_with_discount }}</p>
            <p>$ {{ product.price }}</p>
            <p>{{ product.color_name }}</p>
            <p>{{ product.brand_name }}</p>
        </div>
    </div>
</template>
