<script setup lang="ts">
import { StreamBarcodeReader } from "vue-barcode-reader";
import { ref, defineProps } from "vue";
import { useMainStore } from "@/stores/main";
import Header from "../components/Header/Header.vue"
import * as ArrowBack from "../assets/backarrow.svg"
import router from "@/router"

const props = defineProps({
    onScan: Function,
    onBack: Function,
})
let id = ref(null);

let store = useMainStore()

function onDecode(a,b,c) {
  /*console.log(a, b, c)*/
  store.requestSearchByScan(a)
  if(id.value){
    clearTimeout(id.value)
  }else{
    id.value = setTimeout(() => {
      if (text.value === a) {
        /*text.value = "";*/
      }
    }, 1000);
  }
}

function handleBack(){
    router.push("/")
}

function forceScan(){
  store.requestSearchByScan("zapa")
}

</script>


<template>
    <Header/>
    <div class="scannercontainer">
        <button class="scannerbutton" @click="handleBack" >
            <ArrowBack/>
            <div class="scannerbutton__title" >Regresar</div>
        </button>

        <h3 class="scannertitle">
          Escanear el codigo
        </h3>
        
        <div class="scannerblock">
          <StreamBarcodeReader
            class="scanner"
            @decode="(a, b, c) => onDecode(a, b, c)"
            @loaded="() => onLoaded()"
          ></StreamBarcodeReader>
        </div>
        <a href @click.prevent="forceScan" >Test -> force scan</a>
    </div>
</template>
