<script setup lang="ts">
import { ref, watch, onMounted, computed } from "vue"
import { useMainStore } from "@/stores/main"
import { getProducts } from "@/common/requests/products"
import { useInfiniteScroll } from "@vueuse/core"
import router from "@/router"

import Header from "../components/Header/Header.vue"
import SearchBar from "../components/SearchBar/SearchBar.vue"
import ProductCard from "../components/ProductCard/ProductCard.vue"
import * as SearchIcon from "../assets/searchloop.svg"

let scrollElement = ref(null)

let products = ref([])
let currentPage = ref(1)
let searchText = ref("")
let loading = ref(false)
let emptyRequest = ref(false)
let showHeader = ref(true)
let searchIcon = computed(() => searchText.value.length > 1 ? false:true)

let productStore = useMainStore()


/// ----------------------------

function updateSearchText(value:string){
    searchText.value = value
}

async function updateProducts() {
  const fetchedProducts = await getProducts(currentPage.value, searchText.value)
  fetchedProducts.map(product => {
    //@ts-ignore
    products.value = [...products.value, product]
  })
}

async function loadProducts() {
    const fetchedProducts = await getProducts(currentPage.value, searchText.value)
    if(fetchedProducts.length > 0){
        products.value = [...fetchedProducts]
    }else{
        emptyRequest.value = true
    }
}

async function loadPRoductsFromForcedSearch(search:string){
    searchText.value = search
    currentPage.value = 1
    products.value = []
    await loadProducts()
}

async function handleUpadteProductsOnScrolll(){
  await updateProducts()
  currentPage.value += 1
}


// handle scroll is to catch the s ccroll up or down event and check if we are on top
function handleScroll(event:any){
    const visibleValues = getVisibleElementsIndexes(event.target)
    const onTop = visibleValues.find((element:HTMLElement) => element.nodeValue === "0")

    if(!!onTop){
        showHeader.value = true
    }else{
        showHeader.value = false
    }
}


// infinite scroll handes the autoreload on scroll down
useInfiniteScroll(scrollElement,async () => {
    if(emptyRequest.value === false){
        await handleUpadteProductsOnScrolll()
    }
},{
    distance:10,
    interval: 100
})

// the goal is get the on screen elements and see if we are on the top to show the header
function getVisibleElementsIndexes(container:HTMLElement) {
  const children = container.children;
  const scrollPosition = container.scrollTop;
  const visibleTop = scrollPosition;
  const visibleBottom = scrollPosition + container.clientHeight;
  
  const visibleElements = [];
  for (let i = 0; i < children.length; i++) {
    const child = children[i];
    const top = child.offsetTop;
    const bottom = top + child.clientHeight;
    
    if (top >= visibleTop && bottom <= visibleBottom) {
      visibleElements.push(child);
    }
  }
  
  return visibleElements.map(element => element.attributes["id"]);
}

function deleteOrSearch(){
    if(searchText.value.length > 1){
        emptyRequest.value=false
        searchText.value = ""
    }else{
        router.push("/about")
        productStore.reportSearchStart()
    }
}


// -----------------------------------------------------
// life cicle hooks
onMounted(async ()=>{
    if(productStore.searchText && productStore.enforceProcessSearch){
        setTimeout(() => {
            /*console.log("=============================== >>>>>")*/
            /*console.log(productStore.searchText, productStore.enforceProcessSearch)*/
            loading.value = true
            productStore.reportSearchStart()
            loadPRoductsFromForcedSearch(productStore.searchText).then(data => {
                productStore.reportSearchDone()
                loading.value = false
            })
        },1000)
    }
})

// end lifecycle hooks -----------------------------------------------------


// -------------------------------------
// watchers

// watching search content to load or change control states
watch(searchText, ()=>{
    currentPage.value = 1
    if(emptyRequest.value === true){
        emptyRequest.value = false
    }else{
        loadProducts()
    }
})
// -----------------------------------------------------
</script>

<template>
    <Header v-if="showHeader"/>
    <SearchBar :searchIcon="searchIcon" :onChangeText="updateSearchText" :searchText="searchText" :onButtonClick="deleteOrSearch" />
    <div v-if="emptyRequest === false"  class="productblockcontainer" ref="scrollElement" @scroll="handleScroll">
        <ProductCard v-if="products.length > 1" v-for="product, index in  products" :product="product" :index="index" :key="index"/>
    </div>
    <div v-else class="emptysearchbox">
        <SearchIcon class="emptyicon"/>
        <p>No existen resultados</p>
        <p>para esta busqueda</p>
    </div>
</template>
