<script setup lang="ts">
import {ref, watch, onMounted, onUpdated} from "vue"
import * as SearchIcon from "../../assets/searchloop.svg"
import * as ScanIcon from "../../assets/scan.svg"
import * as XIcon from "../../assets/x.svg"

const props = defineProps({
    searchIcon: Boolean,
    onChangeText: Function,
    searchText: String,
    onButtonClick: Function,
})

let localText = ref("")


function handleClick(){
    try{
        props.onButtonClick()
    }catch(error){
    }
}

watch(localText, (value, oldValue) => {
    try{
        props.onChangeText(localText.value)
    }catch(error){
    }
})


onMounted(()=>{
    localText.value = props.searchText
})
onUpdated(()=>{
    localText.value = props.searchText
})
</script>


<template>
    <div class="boxsearch">
        <button class="boxsearch__button">
            <SearchIcon/>
        </button>
        <input type="text" v-model="localText" v-text="props.searchText" class="boxsearch__searchinput"/>
        <button @click="handleClick" class="boxsearch__button">
            <ScanIcon v-if="props.searchIcon"/>
            <XIcon v-else/>
        </button>
    </div>
</template>
