<script setup lang="ts">
import * as CompanyLogo from "../../assets/orkestraIcon.svg"
import * as UserIcon from "../../assets/user.svg"
import * as CartIcon from "../../assets/cart.svg"
import * as BellIcon from "../../assets/bell.svg"
</script>

<template>
    <div class="headercontainer">
        <div class="header__orkicon">
            <CompanyLogo/>
        </div>
        <div class="header__orkfullicon">
            <img src="brand.png" >
        </div>

        <div class="header__usericon">
            <UserIcon/>
        </div>
        <div class="header__carticon">
            <CartIcon/>
        </div>
        <div class="header__bellicon">
            <BellIcon/>
        </div>
    </div>
</template>
