@import './base.css';

// no style requirement so i will be using a BEM like convention

// testing scss works
$primary-color: #E3E9EE;
$contentmaxwidth: 414px;

$imagewidth: 100px;

body {
    //background-color: $primary-color;
    color: black;
    display: flex;
    justify-content: center;
}

.headercontainer {
    display: flex;
    //flex-grow: 1;
    background-image: url("/rectanglebackground.svg");
    height: 60px;

}

.header {
    display: flex;
    flex-grow: 1;
    //flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header__orkicon {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ffffff;
}

.header__orkfullicon {
    display: flex;
    flex-grow: 2;
    justify-content: left;
    align-items: center;
    margin-left: 12px;
}

.icon {
    height: 37px;
    width: 37px;
}

.header__usericon {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
}

.header__carticon {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
}

.header__bellicon {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
}

.content {
    display: flex;
    flex-direction: column;
    width: $contentmaxwidth;
    height: 100vh;
    border: 1px solid black;
    background-color: $primary-color;
}

.productblockcontainer {
    height: 95vh;
    overflow: scroll;
    scrollbar-width: none;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #ffffff;
}

.productblockcontainer__noheader {
    max-height: 95vh;
    overflow-y: scroll;
}

.productblock {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    height: 200px;

    .productblock__image {
        display: flex;
        height: $imagewidth;
        width: $imagewidth;
        max-width: $imagewidth;
        min-width: $imagewidth;
        overflow: hidden;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
            width: auto;
        }
    }

    .productblock__descriptionblock{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        color: #95A5A6;
        padding-left: 8px;
        padding-right: 8px;
        height: 100%;
        overflow: hidden;

        p {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0px;
            padding: 0px;
        }

        .discount {
            color: red;
        }
        .focused {
            color: #35495E;
            font-weight: bold;
        }
    }
}

.emptysearchbox {
    display: flex;
    flex:1;
    flex-direction: column;
    color: red;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    .emptyicon path {
        fill: red;
    }
}

// search bar styles
.boxsearch {
    margin: 16px;
    display: flex;
    background-color: #ffffff;
    height: 60px;

    .boxsearch__searchinput {
        flex:1;
        border:none;
        background-color: transparent;
        outline: none;
    }

    .boxsearch__button {
        background-color: transparent;
        border: none;
        width: 60px;
        height: 60px;
    }
}

// styles on
.searchblock {

}
.scannercontainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.scannerbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    height: 32px;
    padding-left: 19px;
    &:hover{
        background-color: transparent;
    }
}

.scannerbutton__text {
    color: #2980B9;
    font-weight: bold;
    margin-left: 8px;
}

.scannerbutton__title {
    color: #2980B9;
    font-weight: bold;
    margin-left: 8px;
}

.scannertitle {
    font-family: Hind;
    font-size: 20px;
    margin-left: 8px;
    font-weight: 600;
}

.scannerblock {
    display: flex;
    flex:1;
    //justify-content: space-between;
    //align-items: center;

    .scanner {   
    }
}

